.bx{
    width: 960px;
    margin: 0 auto;
}
body{
    min-width: 960px;
}
.head{
    height: 128px;
}
#logo {
    float: left;
}
#logo h1 a{
    margin-top: 20px;
    display: block;
    width: 165px;
    height: 85px;
    text-indent: -99999px;
    background: url(https://f0.jmstatic.com/static_passport/dist/v1.0.137928/images/logo_new_v1.jpg) no-repeat 0 0;
}
.head_right{
    width: 500px;
    float: right;
    height: 73px;
    padding-top: 55px;
}
.head_right>a{
    display: block;
    width: 110px;
    height: 30px;
    overflow: hidden;
    float: right;
    margin-right: 20px;
}
.head_right>a:nth-child(2)>img{
    margin-top: -32px;
}
.head_right>a:nth-child(1)>img{
    margin-top: -64px;
}





.content{
    height: 460px;
    position: relative;
    margin-bottom: 100px;
}
.content_left{
    width: 600px;
    padding-top: 80px;
    float: left;
}
.content_left>a{
display: block;
width: 600px;
height: 370px;

}
.content_right{
    box-shadow:  0px 0px 8px #d1d1d1;
    width: 295px;
    height: 405px;
    float: right;
    padding: 20px 30px 50px 20px;
}
.content_right>h2{
    width: 310px;
    height: 60px;
    font-size: 25px;
    color: #e31256;
    font-weight: bold;
    position: relative;
}
.log{
position: absolute;
right: 20px;
top: 19px;
color: #969696;
padding-top: 10px;
}
.log>a{
    color: #ED145B;
}












#footer{
    height: 220px;
 
    text-align: center;
    padding-top: 20px;
}
.bbb{
    padding-left: 150px;
    margin-top: 30px;
}
.bbb>a{
    float: left;
    display: block;
    width: 126px;
    height: 50px;
    overflow: hidden;
    margin-right: 15px;
}
.bbb>a:nth-child(1)>img{
    margin-left: 0px;
}
.bbb>a:nth-child(2)>img{
    margin-left: -126px;
}
.bbb>a:nth-child(3)>img{
    margin-left: -252px;
}
.bbb>a:nth-child(4)>img{
    margin-left: -378px;
}
.bbb>a:nth-child(5)>img{
    margin-left: -505px;
}



